<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>安阳</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>安庆</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>安顺</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阿拉善左旗</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阿坝</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>安康</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阿拉尔</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阿克苏</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阿图什</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阿里</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>鞍山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>安定</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>安化</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>安义</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>北安</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>宾川</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>巴楚</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>白河</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>滨海</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>保康</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>保定</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>白水</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>宝兴</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>宝丰</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>成都</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>重庆</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>承德</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>沧州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>池州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>长寿</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>城口</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>巫溪</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>巫山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>潮州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>昌平</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>大兴</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>东丽</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>垫江</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>大足</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>达州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>东莞</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>德阳</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>德州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>大连</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>大兴安岭</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>大庆</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>鄂尔多斯</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>恩施</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>鄂州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>峨边</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>额济纳旗</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>额敏</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>峨眉山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>峨山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>鄂托克旗</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>鄂托克前旗</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>洱源</string>
			</dict>
		</array>
		<key>title</key>
		<string>E</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>丰台</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>房山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>奉贤</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>涪陵</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>奉节</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>丰都</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>福州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>佛山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>抚顺</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>阜新</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>丰润</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>高安</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>高淳</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>固安</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>广昌</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>广丰</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>广汉</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>广河</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>广灵</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>桂阳</string>
			</dict>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>怀安</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>怀化</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>淮滨</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>海城</string>
			</dict>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>开县</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>开江</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>库尔勒</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>康保</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>康定</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>昆明</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>开原</string>
			</dict>
		</array>
		<key>title</key>
		<string>K</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>泸州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>丽江</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>临河</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>柳州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>兰州</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>梁平</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>六安</string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>city</key>
		<array>
			<dict>
				<key>citynm</key>
				<string>马边</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>满城</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>蒙城</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>麻城</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>墨江</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>蒙山</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>明溪</string>
			</dict>
			<dict>
				<key>citynm</key>
				<string>眉县</string>
			</dict>
		</array>
		<key>title</key>
		<string>M</string>
	</dict>
</array>
</plist>
